# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# cache/backup
*~
*.swp

#target
nitro
examples/basic

#KDevelop files
*.kdev4
