# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# cache/backup
*~
*.swp

#targets
nitro
examples/basic
examples/string_params
examples/all_syscalls
examples/file_user

#KDevelop files
*.kdev4
